/* Resetting default browser styles */
html, body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    
}

h2 {
    font-size: 1.5em;
    
}

section {
    margin-bottom: 30px;
}


p{
    font-size: small;
}

.steps{
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    border-radius: 4px;
}